.env/
.venv/
env/
venv/
conda-env/
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

test_data/output_png/*
!test_data/output_png/.gitkeep

test_data/output_sxm/*
!test_data/output_sxm/.gitkeep

*.rois.json
